<div class="p-grid p-align-start p-m-2">
    <!-- Formulario para crear/editar Pokemon -->
    <div class="p-col-12 p-md-8 p-lg-6">
      <p-card header="Crear/Editar Pokemon" subheader="Complete los campos a continuación">
        <form [formGroup]="pokemonForm" (ngSubmit)="onSubmit()">
          <div class="p-field">
            <label for="name">Nombre del Pokemon</label>
            <input id="name" type="text" pInputText formControlName="Name" />
          </div>
  
          <div class="p-field">
            <label for="type">Tipo</label>
            <input id="type" type="text" pInputText formControlName="Type" />
          </div>
  
          <div class="p-field">
            <label for="level">Nivel</label>
            <input id="level" type="number" pInputText formControlName="Level" />
          </div>
  
  
          <div class="p-field">
            <label for="image">Imagen</label>
            <input id="image" type="file" (change)="handleImageUpload($event)" #fileInput />
          </div>


          <div class="p-d-flex p-jc-between">
            <button pButton type="submit" label="Guardar" icon="pi pi-save"></button>
            <button pButton type="button" label="Cancelar" icon="pi pi-times" (click)="onCancel()"></button>
          </div>
        </form>
      </p-card>
    </div>
  
    <!-- Tabla de pokemon -->
    <div class="p-col-12 p-md-12">
      <p-card header="Lista de Pokemons">
        <p-table [value]="pokemonData" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,20]" class="p-datatable-custom">
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Nivel</th>
              <th>Imagen</th>
              <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pokemon>
            <tr>
              <td>{{ pokemon.id }}</td>
              <td>{{ pokemon.Name }}</td>
              <td>{{ pokemon.Type }}</td>
              <td>{{ pokemon.Level }}</td>
              <td><img [src]="pokemon.Image" alt="{{ pokemon.Name }}" width="50"></td>
              <td>
                <button pButton type="button" icon="pi pi-pencil" class="p-button-warning p-mr-2" (click)="editProduct(pokemon)"></button>
                <button pButton type="button" icon="pi pi-trash" class="p-button-danger" (click)="deleteProduct(pokemon.id)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>
  